In [1]:

import requests
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("Top 1000 Bollywood Movies and their boxoffice.csv")
df.head()

,Unnamed: 0,SN,Movie,Worldwide,India Net,India Gross,Overseas,Budget,Verdict
0,0,1,Pathaan,10500000000,5240000000,6570000000,3920000000,2500000000,All Time Blockbuster
1,1,2,Baahubali 2 The Conclusion,17880000000,5100000000,14160000000,3710000000,2500000000,All Time Blockbuster
2,2,3,KGF Chapter 2,12080000000,4350000000,10000000000,2070000000,1000000000,All Time Blockbuster
3,3,4,Dangal,20700000000,3740000000,5350000000,15350000000,700000000,All Time Blockbuster
4,4,5,Sanju,5880000000,3420000000,4380000000,1500000000,1000000000,All Time Blockbuster

# Web scraping to correctly collect existing data
I think some feature data are wrongly collected. So going to use [Bollywood Hungama](https://www.bollywoodhungama.com/) website to recollect those. I used rvest in R to collect data. Please watch other file for code.

In [ ]:
data2 = pd.read_csv("evaluated_boxoffice_numericals.csv")
data2.head()

,Rank,Movie.Name,India..NETT.cr..,India..Gross.cr..,Overseas..Gross.cr..,Global.Collections..INR.cr..
0,1,Darr,10.74,14.92,1.52,16.44
1,2,Bedardi,2.85,3.96,0.06,4.02
2,3,Ashaant,1.45,2.01,0.03,2.04
3,4,Dhanwaan,1.39,1.93,0.03,1.96
4,1,Hum Aapke Hain Koun..!,72.47,100.65,10.98,111.63

In [ ]:
data2 = data2.rename(columns = {"Movie.Name":"Movie","India..NETT.cr..":"IndiaNet","India..Gross.cr..":"IndiaGross", "Overseas..Gross.cr..":"Overseas","Global.Collections..INR.cr..":"Worldwide"})

In [ ]:

data2.sort_values(by="Worldwide",inplace=True,ascending=False)

In [ ]:
data2.drop(columns = ["Rank"],inplace=True)

In [ ]:
data2.head()

                  Movie  IndiaNet  IndiaGross  Overseas  Worldwide
861              Dangal    387.38      538.03   1430.00    1968.03
1092              Jawan    643.87      761.98    386.34    1148.32
1093            Pathaan    543.05      654.28    396.02    1050.30
826   Bajrangi Bhaijaan    320.34      444.92    473.26     918.18
1094             Animal    556.36      662.33    255.49     917.82

## Finding IMDb ID

In [ ]:
imdb_id = []
for item in data2.Movie.values:
  try:
    imdb = IMDb()
    imdb_id.append(int(imdb.search_movie(item)[0].movieID))
  except Exception as e:
    print(e)

In [ ]:
data2["imdb_id"] = ["tt" + str(imid) for imid in imdb_id]

In [ ]:
data2.to_csv("evaluated_boxoffice_numericals.csv",index=False)

#Fetching Extra Data using IMDb API

In [ ]:
data3 = pd.read_csv("evaluated_boxoffice_numericals.csv")
data3.head()

               Movie  IndiaNet  IndiaGross  Overseas  Worldwide     imdb_id
0             Dangal    387.38      538.03   1430.00    1968.03   tt5074352
1              Jawan    643.87      761.98    386.34    1148.32  tt15354916
2            Pathaan    543.05      654.28    396.02    1050.30  tt12844910
3  Bajrangi Bhaijaan    320.34      444.92    473.26     918.18   tt3863552
4             Animal    556.36      662.33    255.49     917.82  tt13751694

In [ ]:
data3.shape

(1157, 6)

In [ ]:
imdb_id = data3.imdb_id.values

In [48]:
data3

,Movie,IndiaNet,IndiaGross,Overseas,Worldwide,imdb_id
0,Dangal,387.38,538.03,1430.00,1968.03,tt5074352
1,Jawan,643.87,761.98,386.34,1148.32,tt15354916
2,Pathaan,543.05,654.28,396.02,1050.30,tt12844910
3,Bajrangi Bhaijaan,320.34,444.92,473.26,918.18,tt3863552
4,Animal,556.36,662.33,255.49,917.82,tt13751694
...,...,...,...,...,...,...
1152,Dil Pe Mat Le Yaar,0.97,1.35,0.13,1.48,tt255120
1153,Code Name: Tiranga,0.70,0.83,0.58,1.41,tt22099068
1154,Irada,0.85,1.18,0.13,1.31,tt6467738
1155,Raja Hindustani,43.15,1.22,0.05,1.27,tt117437
1156,Double XL,0.60,0.71,0.41,1.12,tt15614274

# Finding tmdb id

In [49]:
import requests
import numpy as np

headers = {
   "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMjhiMGY3Mzk1YTU5NDFiYjhjMGVjMmY3YTAyMDEwZiIsIm5iZiI6MTc1MzYyOTkxOC41ODIsInN1YiI6IjY4ODY0NGRlMmM1YWEzMTM0NTM4ZmZhYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.adVp6LC-8M7tdR5CZzNzdT90U0u-b4KUvsIqWxDnYYA"
}

tmdb_id = []
for count, imdb in enumerate(data2.imdb_id.values, start=1):
    if pd.isna(imdb):
        tmdb_id.append(np.nan)
        continue

    url = f"https://api.themoviedb.org/3/find/{imdb}?external_source=imdb_id"
    response = requests.get(url, headers=headers)

    # DEBUG for first 5
    if count <= 5:
        print(f"Request URL: {url}")
        print("Status Code:", response.status_code)
        print("Response:", response.json())
        print("-" * 50)

    if response.status_code == 200:
        results = response.json().get('movie_results', [])
        if results:
            tmdb_id.append(results[0].get('id', np.nan))
        else:
            tmdb_id.append(np.nan)
    elif response.status_code == 429:
        print("Rate limit reached. Stopping.")
        break
    else:
        tmdb_id.append(np.nan)

Request URL: https://api.themoviedb.org/3/find/tt5074352?external_source=imdb_id
Status Code: 200
Response: {'movie_results': [{'adult': False, 'backdrop_path': '/l0fNAHLOFReQJsxCOmGWvJDnimn.jpg', 'id': 360814, 'title': 'Dangal', 'original_title': 'दंगल', 'overview': 'Dangal is an extraordinary true story based on the life of Mahavir Singh and his two daughters, Geeta and Babita Phogat. The film traces the inspirational journey of a father who trains his daughters to become world class wrestlers.', 'poster_path': '/cJRPOLEexI7qp2DKtFfCh7YaaUG.jpg', 'media_type': 'movie', 'original_language': 'hi', 'genre_ids': [18, 10751, 35], 'popularity': 3.5379, 'release_date': '2016-12-21', 'video': False, 'vote_average': 7.887, 'vote_count': 1054}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
--------------------------------------------------
Request URL: https://api.themoviedb.org/3/find/tt15354916?external_source=imdb_id
Status Code: 200
Response: {'movie_results': [{'adult': False, 'backdrop_path': '/5LtSjMNw6j3LkG29Oa4O0iY5U8.jpg', 'id': 872906, 'title': 'Jawan', 'original_title': 'जवान', 'overview': 'An emotional journey of a prison warden, driven by a personal vendetta while keeping up to a promise made years ago, recruits inmates to commit outrageous crimes that shed light on corruption and injustice, in an attempt to get even with his past,  and that leads him to an unexpected reunion.', 'poster_path': '/jFt1gS4BGHlK8xt76Y81Alp4dbt.jpg', 'media_type': 'movie', 'original_language': 'hi', 'genre_ids': [28, 80, 53], 'popularity': 3.8954, 'release_date': '2023-09-07', 'video': False, 'vote_average': 7.112, 'vote_count': 286}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
--------------------------------------------------
Request URL: https://api.themoviedb.org/3/find/tt12844910?external_source=imdb_id
Status Code: 200
Response: {'movie_results': [{'adult': False, 'backdrop_path': '/9wRAIQeOv2qzcgpfvA4dYZKeezl.jpg', 'id': 864692, 'title': 'Pathaan', 'original_title': 'पठान', 'overview': 'A soldier caught by enemies and presumed dead comes back to complete his mission, accompanied by old companions and foes.', 'poster_path': '/arf00BkwvXo0CFKbaD9OpqdE4Nu.jpg', 'media_type': 'movie', 'original_language': 'hi', 'genre_ids': [28, 12, 53], 'popularity': 2.6957, 'release_date': '2023-01-25', 'video': False, 'vote_average': 6.4, 'vote_count': 212}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
--------------------------------------------------
Request URL: https://api.themoviedb.org/3/find/tt3863552?external_source=imdb_id
Status Code: 200
Response: {'movie_results': [{'adult': False, 'backdrop_path': '/n9QCm8uagvmXH476u5qFQsW8HkU.jpg', 'id': 348892, 'title': 'Bajrangi Bhaijaan', 'original_title': 'बजरंगी भाईजान', 'overview': 'A young mute girl from Pakistan loses herself in India with no way to head back. A devoted man with a magnanimous spirit undertakes the task to get her back to her motherland and unite her with her family.', 'poster_path': '/vhlliI7HZZlWfo5d6CiyfBAGLrW.jpg', 'media_type': 'movie', 'original_language': 'hi', 'genre_ids': [35, 18, 28], 'popularity': 2.2382, 'release_date': '2015-07-17', 'video': False, 'vote_average': 7.8, 'vote_count': 502}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
--------------------------------------------------
Request URL: https://api.themoviedb.org/3/find/tt13751694?external_source=imdb_id
Status Code: 200
Response: {'movie_results': [{'adult': False, 'backdrop_path': '/pwBtk8ngoMtqn0qv8j1feSFTKUn.jpg', 'id': 781732, 'title': 'Animal', 'original_title': 'Animal', 'overview': "The hardened son of a powerful industrialist returns home after years abroad and vows to take bloody revenge on those threatening his father's life.", 'poster_path': '/hr9rjR3J0xBBKmlJ4n3gHId9ccx.jpg', 'media_type': 'movie', 'original_language': 'hi', 'genre_ids': [28, 80, 18], 'popularity': 3.0232, 'release_date': '2023-12-01', 'video': False, 'vote_average': 6.2, 'vote_count': 149}], 'person_results': [], 'tv_results': [], 'tv_episode_results': [], 'tv_season_results': []}
--------------------------------------------------

In [52]:
data2['tmdb_id'] = tmdb_id

In [55]:
data2.to_csv("evaluated_boxoffice_numericals.csv",index=False)

In [42]:
data.iloc[16,9] = 73582

In [56]:
data2.isna().sum()

Movie           0
IndiaNet        0
IndiaGross      0
Overseas        0
Worldwide       0
imdb_id         0
tmdb_id       602
dtype: int64

# Finding budget

In [44]:
import requests
import numpy as np

headers = {
   "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyMjhiMGY3Mzk1YTU5NDFiYjhjMGVjMmY3YTAyMDEwZiIsIm5iZiI6MTc1MzYyOTkxOC41ODIsInN1YiI6IjY4ODY0NGRlMmM1YWEzMTM0NTM4ZmZhYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.adVp6LC-8M7tdR5CZzNzdT90U0u-b4KUvsIqWxDnYYA"
}

budget = []
for count, tmdb in enumerate(data.tmdb_id.values, start=1):
    if pd.isna(tmdb):
        tmdb_id.append(np.nan)
        continue

    url = f"https://api.themoviedb.org/3/movie/{tmdb}?language=en-US"
    response = requests.get(url, headers=headers)

    # DEBUG for first 5
    if count <= 5:
        print(f"Request URL: {url}")
        print("Status Code:", response.status_code)
        print("Response:", response.json())
        print("-" * 50)

    if response.status_code == 200:
       budget.append(response.json().get('budget', np.nan))
    elif response.status_code == 429:
        print("Rate limit reached. Stopping.")
        break
    else:
        budget.append(np.nan)

Request URL: https://api.themoviedb.org/3/movie/1014214.0?language=en-US
Status Code: 200
Response: {'adult': False, 'backdrop_path': '/yLKkuYMcibmNEvb97I4t6eDSSwk.jpg', 'belongs_to_collection': {'id': 286951, 'name': 'Cop Universe Collection', 'poster_path': '/sRi8w5dWaq8rXXKf5QCfcAAbxtb.jpg', 'backdrop_path': '/8TrnhepuVJta76GNVUBxzstLBip.jpg'}, 'budget': 41100000, 'genres': [{'id': 28, 'name': 'Action'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 80, 'name': 'Crime'}], 'homepage': 'https://www.singhamagain.com/', 'id': 1014214, 'imdb_id': 'tt11976134', 'origin_country': ['IN'], 'original_language': 'hi', 'original_title': 'सिंघम अगेन', 'overview': "The cop universe expands with newer additions while the old ones return led by Bajirao Singham. Singham Again interweaves the mythological epic Ramayana's good vs evil narrative when his wife Avni Kamath gets abducted by Danger Lanka setting Bajirao and his gang of Sangram Bhalerao and Veer Sooryavanshi along with Satya and Shakti Shetty on a mission to rescue her.", 'popularity': 3.3033, 'poster_path': '/2JbNkHg8m7LaBy61LyrnnlenaxY.jpg', 'production_companies': [{'id': 80908, 'logo_path': None, 'name': 'Rohit Shetty Productionz', 'origin_country': 'IN'}, {'id': 115477, 'logo_path': '/6CkBjiSlfAJFaMjwB44ILbOhFuV.png', 'name': 'Jio Studios', 'origin_country': 'IN'}, {'id': 128365, 'logo_path': '/9UnLNX7mfB1FzieJcjA9xyni8wY.png', 'name': 'Ajay Devgn FFilms', 'origin_country': 'IN'}, {'id': 10777, 'logo_path': None, 'name': 'Cinergy', 'origin_country': ''}, {'id': 7294, 'logo_path': '/kK4PRgceWp9KNrycD8xx8seWxYU.png', 'name': 'Reliance Entertainment', 'origin_country': 'IN'}], 'production_countries': [{'iso_3166_1': 'IN', 'name': 'India'}], 'release_date': '2024-11-01', 'revenue': 43800000, 'runtime': 145, 'spoken_languages': [{'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'}], 'status': 'Released', 'tagline': '', 'title': 'Singham Again', 'video': False, 'vote_average': 4.759, 'vote_count': 29}
--------------------------------------------------
Request URL: https://api.themoviedb.org/3/movie/370665.0?language=en-US
Status Code: 200
Response: {'adult': False, 'backdrop_path': '/jdvmNM5vwQDSsC4SAdiEdzrTAhU.jpg', 'belongs_to_collection': None, 'budget': 26000000, 'genres': [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}], 'homepage': '', 'id': 370665, 'imdb_id': 'tt4535650', 'origin_country': ['IN'], 'original_language': 'hi', 'original_title': 'दिलवाले', 'overview': 'Raj is a Mafia member. One day he meet a girl (Meera) while chasing by his rival gang and falls in love with her. Later he finds out that this girl is the daughter of the leader of his rival gang. Yet their love story continues until he was shot by his girlfriend upon a deep misunderstanding. After that incident these two lovers lives separate until their siblings fallen in love. With this new love story their paths intertwines again.', 'popularity': 1.5878, 'poster_path': '/4jVu65xoOyOdk76J9jNTGmPK0dY.jpg', 'production_companies': [{'id': 2343, 'logo_path': '/fkrlAFxgAtIHgYJGIQcDggeucKV.png', 'name': 'Red Chillies Entertainment', 'origin_country': 'IN'}, {'id': 80908, 'logo_path': None, 'name': 'Rohit Shetty Productionz', 'origin_country': 'IN'}], 'production_countries': [{'iso_3166_1': 'IN', 'name': 'India'}], 'release_date': '2015-12-18', 'revenue': 61000000, 'runtime': 158, 'spoken_languages': [{'english_name': 'English', 'iso_639_1': 'en', 'name': 'English'}, {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'}], 'status': 'Released', 'tagline': '', 'title': 'Dilwale', 'video': False, 'vote_average': 6.7, 'vote_count': 321}
--------------------------------------------------
Request URL: https://api.themoviedb.org/3/movie/569594.0?language=en-US
Status Code: 200
Response: {'adult': False, 'backdrop_path': '/1CpOFqgxOFOL2MxTWcIRfg6axy4.jpg', 'belongs_to_collection': None, 'budget': 0, 'genres': [{'id': 28, 'name': 'Action'}, {'id': 36, 'name': 'History'}, {'id': 18, 'name': 'Drama'}], 'homepage': '', 'id': 569594, 'imdb_id': 'tt7721800', 'origin_country': ['IN'], 'original_language': 'hi', 'original_title': 'भारत', 'overview': "At the cusp of India's birth as an Independent nation, a family makes an arduous journey to freedom at a cost. A young boy Bharat, makes a promise to his Father that he will keep his family together no matter what.", 'popularity': 0.9961, 'poster_path': '/aawdjzVsfKvRRIFu9Ni74wZyjc8.jpg', 'production_companies': [{'id': 59294, 'logo_path': '/eNG6SYSrJZgXpqo1l7UwvuWio76.png', 'name': 'Salman Khan Films', 'origin_country': 'IN'}, {'id': 20566, 'logo_path': None, 'name': 'Reel Life Productions', 'origin_country': 'IN'}, {'id': 3522, 'logo_path': '/d3u51JgEP5KwPfxS13ocqvtzZeX.png', 'name': 'T-Series', 'origin_country': 'IN'}], 'production_countries': [{'iso_3166_1': 'IN', 'name': 'India'}], 'release_date': '2019-06-05', 'revenue': 0, 'runtime': 155, 'spoken_languages': [{'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'}], 'status': 'Released', 'tagline': '', 'title': 'Bharat', 'video': False, 'vote_average': 6.2, 'vote_count': 61}
--------------------------------------------------
Request URL: https://api.themoviedb.org/3/movie/456570.0?language=en-US
Status Code: 200
Response: {'adult': False, 'backdrop_path': '/aSjOJMrQYz3EC5e7JzfGxy2Yhuh.jpg', 'belongs_to_collection': None, 'budget': 3213790, 'genres': [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}], 'homepage': '', 'id': 456570, 'imdb_id': 'tt5764096', 'origin_country': ['IN'], 'original_language': 'hi', 'original_title': 'हिंदी मीडियम', 'overview': 'Mita and Raj Batra, an affluent couple from Delhi’s Chandni Chowk, are grappling with getting their daughter admission into an English medium school. But there is one big problem. Their zubaan is Hindi, and the elitist snobs won’t let the Hindi speaking hoi-polloi fit in.', 'popularity': 0.9204, 'poster_path': '/2v0nQd3kYBV0iPNCVHiaLWGb1hg.jpg', 'production_companies': [{'id': 86699, 'logo_path': None, 'name': 'Maddock Films', 'origin_country': 'IN'}], 'production_countries': [{'iso_3166_1': 'IN', 'name': 'India'}], 'release_date': '2017-05-19', 'revenue': 52390000, 'runtime': 132, 'spoken_languages': [{'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'}], 'status': 'Released', 'tagline': '', 'title': 'Hindi Medium', 'video': False, 'vote_average': 7.3, 'vote_count': 178}
--------------------------------------------------
Request URL: https://api.themoviedb.org/3/movie/185008.0?language=en-US
Status Code: 200
Response: {'adult': False, 'backdrop_path': '/hvaSiRRM93aCSzTmKlY4sHERL0S.jpg', 'belongs_to_collection': None, 'budget': 7700000, 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}], 'homepage': '', 'id': 185008, 'imdb_id': 'tt2178470', 'origin_country': ['IN'], 'original_language': 'hi', 'original_title': 'ये जवानी है दीवानी', 'overview': 'On a trekking trip, an introverted Naina falls for a charming ex-classmate, whose thirst for adventure drives them apart. Years later, their paths cross again.', 'popularity': 2.3011, 'poster_path': '/em39H81XLCDgXsI7V4IcBZseEO6.jpg', 'production_companies': [{'id': 19146, 'logo_path': '/5Ff25ornzVNhm5skuAvMAR556NB.png', 'name': 'Dharma Productions', 'origin_country': 'IN'}, {'id': 2320, 'logo_path': '/nSAXfUCy16cNRiPlBMHeb700t9p.png', 'name': 'UTV Motion Pictures', 'origin_country': 'IN'}, {'id': 3653, 'logo_path': '/dEpilNgoW7tElN3xacXckHxGXbo.png', 'name': 'Eros International', 'origin_country': 'IN'}], 'production_countries': [{'iso_3166_1': 'IN', 'name': 'India'}], 'release_date': '2013-05-31', 'revenue': 46000000, 'runtime': 160, 'spoken_languages': [{'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'}], 'status': 'Released', 'tagline': 'one cannot be wise and old without being young and crazy', 'title': 'Yeh Jawaani Hai Deewani', 'video': False, 'vote_average': 7.3, 'vote_count': 274}
--------------------------------------------------

In [46]:
data["budget"] = budget

In [47]:
data[data["budget"]==0]

,Movie,IndiaNet,IndiaGross,Overseas,Worldwide,imdb_id,Runtime(min),Imdb_ratting,Number_of_Votes,tmdb_id,budget
2,Bharat,211.07,251.27,74.31,325.58,tt7721800,155,6.20000,61,569594.0,0
5,Good Newwz,205.14,244.21,74.36,318.57,tt8504014,132,6.70000,76,643534.0,0
8,Race 3,166.40,213.33,81.65,294.98,tt7431594,160,3.70000,75,496320.0,0
14,Baaghi 2,164.38,210.74,43.59,254.33,tt6843812,145,5.80000,39,496316.0,0
16,Bodyguard,148.86,206.75,46.24,252.99,tt7493974,90,7.96923,130,73582.0,0
...,...,...,...,...,...,...,...,...,...,...,...
425,Running Shaadi,0.98,1.36,0.20,1.56,tt6296236,114,6.00000,5,442247.0,0
426,Indoo Ki Jawani,1.06,1.26,0.26,1.52,tt11112526,115,4.40000,5,693838.0,0
427,Code Name: Tiranga,0.70,0.83,0.58,1.41,tt22099068,137,4.40000,7,1021166.0,0
428,Irada,0.85,1.18,0.13,1.31,tt6467738,109,6.80000,12,441751.0,0
429,Double XL,0.60,0.71,0.41,1.12,tt15614274,128,5.00000,4,915776.0,0

# Handling 0 values

In [57]:
import pandas as pd
import requests
import time

# === CONFIG ===
API_KEY = "228b0f7395a5941bb8c0ec2f7a02010f"
INPUT_FILE = "evaluated_boxoffice_numericals_new.csv"
OUTPUT_FILE = "evaluated_boxoffice_numericals_new_filled.csv"

# Load data
df = pd.read_csv(INPUT_FILE)

# Loop through missing tmdb_id
for idx, row in df[df["tmdb_id"].isna()].iterrows():
    imdb_id = row["imdb_id"]
    url = f"https://api.themoviedb.org/3/find/{imdb_id}?api_key={API_KEY}&external_source=imdb_id"

    try:
        response = requests.get(url)
        if response.status_code == 200:
            data = response.json()
            if data.get("movie_results"):
                df.at[idx, "tmdb_id"] = data["movie_results"][0]["id"]
            elif data.get("tv_results"):
                df.at[idx, "tmdb_id"] = data["tv_results"][0]["id"]
        else:
            print(f"Error {response.status_code} for {imdb_id}")
    except Exception as e:
        print(f"Failed for {imdb_id}: {e}")

    # Rate limiting
    time.sleep(0.25)

# Save the updated CSV
df.to_csv(OUTPUT_FILE, index=False)
print(f"Updated file saved as {OUTPUT_FILE}")

Updated file saved as evaluated_boxoffice_numericals_new_filled.csv

In [58]:
df = pd.read_csv("evaluated_boxoffice_numericals_new_filled.csv")
df

,Movie,IndiaNet,IndiaGross,Overseas,Worldwide,imdb_id,tmdb_id
0,Dangal,387.38,538.03,1430.00,1968.03,tt5074352,360814.0
1,Jawan,643.87,761.98,386.34,1148.32,tt15354916,872906.0
2,Pathaan,543.05,654.28,396.02,1050.30,tt12844910,864692.0
3,Bajrangi Bhaijaan,320.34,444.92,473.26,918.18,tt3863552,348892.0
4,Animal,556.36,662.33,255.49,917.82,tt13751694,781732.0
...,...,...,...,...,...,...,...
1152,Dil Pe Mat Le Yaar,0.97,1.35,0.13,1.48,tt255120,NaN
1153,Code Name: Tiranga,0.70,0.83,0.58,1.41,tt22099068,1021166.0
1154,Irada,0.85,1.18,0.13,1.31,tt6467738,441751.0
1155,Raja Hindustani,43.15,1.22,0.05,1.27,tt117437,NaN
1156,Double XL,0.60,0.71,0.41,1.12,tt15614274,915776.0

In [60]:
df.isna().sum()

Movie           0
IndiaNet        0
IndiaGross      0
Overseas        0
Worldwide       0
imdb_id         0
tmdb_id       573
dtype: int64

# Getting extra features

In [61]:
import pandas as pd
import requests
import time

# === CONFIG ===
INPUT_FILE = "evaluated_boxoffice_numericals_new.csv"  # Your input CSV
OUTPUT_FILE = "evaluated_boxoffice_numericals_new_full.csv"  # Output CSV

TMDB_API_KEY = "228b0f7395a5941bb8c0ec2f7a02010f"
OMDB_API_KEY = "6b6cab76"

# === LOAD DATA ===
df = pd.read_csv(INPUT_FILE)

# Ensure imdb_id has correct format
df['imdb_id'] = df['imdb_id'].astype(str).str.strip()

# New columns
df['imdb_rating'] = None
df['runtime'] = None
df['rating_count'] = None
df['budget'] = None

# === FETCH DATA ===
for idx, row in df.iterrows():
    imdb_id = row['imdb_id']
    tmdb_id = row.get('tmdb_id', None)

    # ---- Try TMDB API ----
    if pd.notna(tmdb_id):
        tmdb_url = f"https://api.themoviedb.org/3/movie/{int(tmdb_id)}?api_key={TMDB_API_KEY}"
        r = requests.get(tmdb_url)
        if r.status_code == 200:
            data = r.json()
            df.at[idx, 'budget'] = data.get('budget')
            df.at[idx, 'runtime'] = data.get('runtime')
            df.at[idx, 'imdb_rating'] = data.get('vote_average')
            df.at[idx, 'rating_count'] = data.get('vote_count')

    # ---- If still missing, try OMDb API ----
    if pd.isna(df.at[idx, 'imdb_rating']) or pd.isna(df.at[idx, 'runtime']) or pd.isna(df.at[idx, 'rating_count']):
        omdb_url = f"http://www.omdbapi.com/?i={imdb_id}&apikey={OMDB_API_KEY}"
        r = requests.get(omdb_url)
        if r.status_code == 200:
            data = r.json()
            if data.get("imdbRating") and data["imdbRating"] != "N/A":
                df.at[idx, 'imdb_rating'] = float(data["imdbRating"])
            if data.get("Runtime") and data["Runtime"] != "N/A":
                df.at[idx, 'runtime'] = int(data["Runtime"].replace(" min", ""))
            if data.get("imdbVotes") and data["imdbVotes"] != "N/A":
                df.at[idx, 'rating_count'] = int(data["imdbVotes"].replace(",", ""))

    time.sleep(0.25)  # Avoid hitting API rate limits

# === Final cleanup ===
df['budget'] = df['budget'].fillna(0).astype(int)
df['runtime'] = df['runtime'].fillna(0).astype(int)
df['rating_count'] = df['rating_count'].fillna(0).astype(int)
df['imdb_rating'] = df['imdb_rating'].fillna(0).astype(float)

# === Save ===
df.to_csv(OUTPUT_FILE, index=False)
print(f"Saved complete dataset to {OUTPUT_FILE}")

Saved complete dataset to evaluated_boxoffice_numericals_new_full.csv

/tmp/ipython-input-3913037972.py:56: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['budget'] = df['budget'].fillna(0).astype(int)
/tmp/ipython-input-3913037972.py:57: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['runtime'] = df['runtime'].fillna(0).astype(int)
/tmp/ipython-input-3913037972.py:58: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['rating_count'] = df['rating_count'].fillna(0).astype(int)
/tmp/ipython-input-3913037972.py:59: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['imdb_rating'] = df['imdb_rating'].fillna(0).astype(float)

In [62]:
df2 = pd.read_csv("evaluated_boxoffice_numericals_new_full.csv")

In [63]:
df2.isna().sum()

Movie             0
IndiaNet          0
IndiaGross        0
Overseas          0
Worldwide         0
imdb_id           0
tmdb_id         602
imdb_rating       0
runtime           0
rating_count      0
budget            0
dtype: int64

In [66]:
(df == 0).sum()

Movie             0
IndiaNet          0
IndiaGross        0
Overseas          2
Worldwide         0
imdb_id           0
tmdb_id           0
imdb_rating     579
runtime         594
rating_count    569
budget          900
dtype: int64

# Handling 0 Values

In [67]:
import pandas as pd
import numpy as np

# Load the original data
df = pd.read_csv('evaluated_boxoffice_numericals_new_full.csv')

# Synthetic data rules
df['budget'] = df['budget'].replace(0, np.nan).fillna(df.groupby('imdb_rating')['budget'].transform('median'))
df['runtime'] = df['runtime'].replace(0, np.nan).fillna(df.groupby('imdb_rating')['runtime'].transform('median'))
df['imdb_rating'] = df['imdb_rating'].replace(0, np.nan).fillna(df['imdb_rating'].median())
df['rating_count'] = df['rating_count'].replace(0, np.nan).fillna(df['Worldwide'].apply(lambda x: max(50, int(x / 10))))

# Save synthetic data
df.to_csv('synthetic_boxoffice_data.csv', index=False)

# Industry thumb rule verdict calculation

def get_verdict(row):
    # Convert Worldwide (crore INR) to INR if needed
    worldwide_in_inr = row["Worldwide"] * 1e7
    budget_in_inr = row["budget"]

    if budget_in_inr == 0:
        return "Unknown"

    ratio = worldwide_in_inr / budget_in_inr

    if ratio >= 3.0:
        return "Blockbuster"
    elif ratio >= 2.0:
        return "Super Hit"
    elif ratio >= 1.5:
        return "Hit"
    elif ratio >= 1.0:
        return "Average"
    elif ratio >= 0.7:
        return "Flop"
    else:
        return "Disaster"

# Add the verdict column
df["Verdict"] = df.apply(get_verdict, axis=1)

# Save the updated file
df.to_csv("boxoffice_with_verdict.csv", index=False)

# Show the first few rows
df.head()

In [77]:
df4 = pd.read_csv("synthetic_boxoffice_data_with_verdict.csv")
df4

,Movie,IndiaNet,IndiaGross,Overseas,Worldwide,imdb_id,tmdb_id,imdb_rating,runtime,rating_count,budget,Verdict
0,Dangal,387.38,538.03,1430.00,1968.03,tt5074352,360814.0,7.887,161.0,1054.0,10400000.0,Blockbuster
1,Jawan,643.87,761.98,386.34,1148.32,tt15354916,872906.0,7.112,169.0,286.0,36150000.0,Blockbuster
2,Pathaan,543.05,654.28,396.02,1050.30,tt12844910,864692.0,6.400,146.0,212.0,30270000.0,Blockbuster
3,Bajrangi Bhaijaan,320.34,444.92,473.26,918.18,tt3863552,348892.0,7.800,159.0,502.0,13000000.0,Blockbuster
4,Animal,556.36,662.33,255.49,917.82,tt13751694,781732.0,6.200,201.0,149.0,13000000.0,Blockbuster
...,...,...,...,...,...,...,...,...,...,...,...,...
1152,Dil Pe Mat Le Yaar,0.97,1.35,0.13,1.48,tt255120,NaN,6.300,143.0,50.0,7000000.0,Super Hit
1153,Code Name: Tiranga,0.70,0.83,0.58,1.41,tt22099068,1021166.0,4.400,137.0,7.0,12312.5,Blockbuster
1154,Irada,0.85,1.18,0.13,1.31,tt6467738,441751.0,7.000,109.0,15.0,2800000.0,Blockbuster
1155,Raja Hindustani,43.15,1.22,0.05,1.27,tt117437,NaN,6.167,106.0,50.0,700000.0,Blockbuster
1156,Double XL,0.60,0.71,0.41,1.12,tt15614274,915776.0,5.400,138.0,9.0,10000000.0,Average

In [78]:
(df4==0).sum()

Movie           0
IndiaNet        0
IndiaGross      0
Overseas        0
Worldwide       0
imdb_id         0
tmdb_id         0
imdb_rating     0
runtime         0
rating_count    0
budget          0
Verdict         0
dtype: int64

In [79]:
df4.isna().sum()

Movie             0
IndiaNet          0
IndiaGross        0
Overseas          0
Worldwide         0
imdb_id           0
tmdb_id         602
imdb_rating       0
runtime           0
rating_count      0
budget            0
Verdict           0
dtype: int64